.Style {
    width: 100px;
    height: 20px;
    color: #1976d2;
  };

  .List {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    border: 1px;
    /* text-align: center; */

    /* display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 15px;
    align-content: center; */
  }

  .ListItem {
    max-width: 480px;
    /* display: flex;
    flex-direction: column;
    column-gap: 10px; */
  }